{% extends "base.html" %}

{% block content %}
    <h1>Add A Blog!</h1>
    <form action="/addblog" method='post'>
        <label>
            <div>Title:</div>
            <input type="text" name='blog' value='' />
            <div class="error">{{name_error}}</div>
        </label>
        
        <label>
            <div>Your New Blog</div>
            <textarea name='content' value=''> </textarea>
            <div class="error">{{content_error}}</div>
        </label>
        
        <input type="submit" value='Add Entry' />
    </form>


   

{% endblock %}