{% extends "base.html" %}

{% block content %}
    <h1>blog posts!</h1>


    <hr />

    {% if blogs|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
                <h1>
                    <a href="./mainpage?id={{blog.id}}">{{blog.name}}</a> 
                </h1>
                <p>
                    {{blog.content}}
                </p>
                <p>
                 written by <a href="./mainpage?user={{blog.user.id}}">{{blog.user.username}}</a> 
                </p>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

 

{% endblock %}